# The core qlib library
pyqlib

# CONSTRAIN numpy version to be < 2.0
numpy<2.0.0

# GUI Framework
streamlit

# Plotting library used in the app
plotly

# Dependencies for the data download script
yahooquery
requests_cache

# Dependencies for optional models supported by the UI
xgboost
catboost
